.formContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}
.formControl {
  padding: 20px;
  border: 1px solid rgb(182, 182, 182);
}
.formButton {
  margin: 10px 0;
  padding: 10px 120px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgba(129, 126, 126, 0.884);
  font-weight: 600;
  background-color: #f2ce35;
}
