.categoriesContainer {
  min-height: 80vh;
}
.products {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.productTitle {
  margin-top: 30px;
  text-align: center;
}
.categoryContainer {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
@media (min-width: 760px) {
  .categoryContainer {
    gap: 20px;
  }
}

.category {
  height: 45px;
  width: 100px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 760px) {
  .category {
    height: 40px;
    width: 150px;
  }
}

.active {
  background-color: #e9c8ffbe;
}
.category:hover {
  background-color: #e9c8ffbe;
}
