.categoriesContainer {
  min-height: 80vh;
  max-width: 1200px;
  margin: 0 auto;
}
.products {
  max-width: 1200px;
  margin: 30px 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}

@media (min-width: 600px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 800px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1000px) {
  .products {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1300px) {
  .products {
    margin: 30px auto;
  }
}
.productsContainer {
  margin: 0 15px;
}
.productTitle {
  margin-top: 30px;
  text-align: center;
}
.categoryContainer {
  max-width: 1200px;
  margin: 20px 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
}
@media (min-width: 760px) {
  .categoryContainer {
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 760px) {
  .categoryContainer {
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1300px) {
  .categoryContainer {
    margin: 20px auto;
  }
}

.category {
  height: 40px;
  min-width: 90px;
  width: 100%;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  background-color: #e9c8ffbe;
}
.category:hover {
  background-color: #e9c8ffbe;
}
