.header {
  margin: 0 auto;
  background-color: #f3f3f3;
}
.headerContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

@media (min-width: 760px) {
  .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}

.headerContact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}
@media (min-width: 760px) {
  .headerContact {
    gap: 15px;
    font-size: 14px;
  }
}
.headerIcon {
  width: 20px;
  color: black;
}
.logo {
  width: 120px;
}

@media (min-width: 760px) {
  .logo {
    width: 150px;
  }
}
