.navBar {
  background-color: #f2ce35;
}
.navBarContainer {
  padding: 10px 0;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media (min-width: 550px) {
  .navBarContainer {
    padding: 20px 0;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
  }
}
.navBarLinks {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  gap: 5px;
}

@media (min-width: 550px) {
  .navBarLinks {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 20px;
  }
}
.navBarLink {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.navBarLink:hover {
  font-weight: 800;
}
