.footer {
  background-color: #e2e2e2;
  padding: 10px 0;
  bottom: 0;
  
}

.footerContainer {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

@media (min-width: 760px) {
  .footerContainer {
    display: flex;
    justify-content: space-between;
  }
}

.footerInfo {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  text-align: center;
}

@media (min-width: 760px) {
  .footerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footerIcon {
  width: 20px;
  color: black;
}
.iconContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.iconText {
  margin-top: 10px;
  color: black;
}
.footerLinks {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 760px) {
     .footerLinks{
      margin-left: 0;
     }
}

.footerText {
  color: black;
  padding: 2px 0;
  text-decoration: none;
}
.textCopyright {
  font-size: 14px;
}
.logoFooter {
  width: 100px;
  height: 100px;
}
